# При изменении версии пайплайнов запускается реанализ всего даунстрима
# В названии раздела указывается название и версия пайплайна
basecalling_r941_basic_v1.0.0:
  name: basecalling_basic
  version: v1.0.0
  input_data_shaper: data_shaper_ont_basecalling.py
  # conditions: прописываются условия, позволяющие исключить как уже обработанные образцы,
  # так и не обработанные образцы, не подходящие по входным параметрам
  conditions:
    - field: status
      type: eq       # Равенство
      value: indexed
#      - type: ne       # Не равно (поддержка массива)
#        field: pipeline_basecalling_{{ modifications }}_status
#        value: ["ok", "fail", "running"]
#      - type: gte      # Больше или равно
#        field: total_size
#        value: 10
#      - type: exists   # Проверка наличия поля
#        field: sample_id
  resources:
    reqpartition:
      - gpu_nodes
    gpus-per-task: 8
    time: "24:00:00"
    mem: "640G"
  # Указывается время выполнения пайплайна на стандартном образце. Необходим для корректного формирования очередей
  estimated_time: 2d
  command_template: |
    nextflow \
    -log {{ output_dir }}/logs/nextflow/{{ run_id }}_{{ time_now }}_nxf.log \
    run {{ nextflow_pipelines_dir }}/nxf_ont-basecalling \
    -c {{ pipeline_config }} \
    -name nxf_{{ run_id }} \
    --pore r941 \
    --modifications basic \
    --outdir {{ output_dir }}
  output_files:
    - "{{ output_dir }}/{{ run_id }}.ubam"
    - "{output_dir}/to_DB/{{ run_id }}_to_db.yaml"
    - "{output_dir}/qc/{{ run_id }}_sequali.json"
    - "{output_dir}/qc/{{ run_id }}_sequali.html"
    - "{output_dir}/qc/{{ run_id }}_multiqc_report.html"

  